body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  width: 20%;
  /* float: right; */
  color: blue;
  text-align: center;
  /* box has 3 css properties: border, padding, margin */
  border-width: 2px; /*top right bottom left*/
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;
  /* clear: both; */
}

p {
  text-align: justify;
  font-size: 22px;
}

/* styling a simple horizontal nav bar */

ul {
  text-decoration: none;
  padding: 0px;
  background-color: cornsilk;
  border: 2px solid black;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  padding: 10px 25px;
  color: orange;
  text-decoration: none;
}

ul li a:hover {
  color: beige;
  background-color: black;
}
